{% extends 'parts/layout.html' -%}

{# INCLUDE HEADER #}
{% block header -%}
    {% include 'parts/header.html' -%}
{%- endblock %}

{# Content Block #}
{% block content -%}
    <section class="center">
        <div id="logo" class="logo">
            <img src="{{ ROOT }}images/logo-erf.png" alt=""/>
        </div>
        <header>
            <h1>Forbidden</h1>
            <h2>
                <span>O boy! You're not allowed to undress us!</span>
                <br/>
                <span>Do you think you visited a wrong neighbor?</span>
            </h2>
        </header>
    </section>
{%- endblock %}

{# FOOTER INJECTION #}
{% block footer -%}
    {% include 'parts/footer.html' -%}
{%- endblock %}
