{# EXTENDING LAYOUT #}
{% extends 'parts/layout.html' -%}

{# INCLUDE HEADER #}
{% block header -%}
    {% include 'parts/header.html' -%}
{%- endblock %}

{# CONTENT INJECTION #}
{% block content -%}
    <section class="center">
        <div id="logo" class="logo">
            <img src="{{ ROOT }}images/logo.png" alt="Stater"/>
        </div>
        <header>
            <h1>Stater</h1>
            <h2>{{ model.home.welcome }}<br/>{{ model.home.extras }}</h2>
        </header>
        <div class="gh-link">
            <a href="https://github.com/mahdaen/stater">Read More</a>
        </div>
    </section>
{%- endblock %}

{# FOOTER INJECTION #}
{% block footer -%}
    {% include 'parts/footer.html' -%}
{%- endblock %}
