{# EXTENDING LAYOUT #}
{% extends 'parts/layout.html' -%}

{# INCLUDE HEADER #}
{% block header -%}
    {% include 'parts/header.html' -%}
{%- endblock %}

{# CONTENT INJECTION #}
{% block content -%}
    <section id="content" class="center">
        <div id="logo" class="logo">
            <img src="{{ ROOT }}images/logo.png" alt="Stater"/>
        </div>
        <header>
            <h1>Welcome to {{ meta.subtitle }}</h1>
            <h2>{{ meta.description }} Thanks for using <strong>Stater</strong>.</h2>
        </header>
        <div class="gh-link">
            <nav>
                <a href="https://github.com/mahdaen/stater">Read More</a>
            </nav>
        </div>
    </section>
{%- endblock %}

{# FOOTER INJECTION #}
{% block footer -%}
    {% set footclass = '' %}
    {% include 'parts/footer.html' -%}
{%- endblock %}
