{# Root Path #}
{% set ROOT = '/' %}

<!doctype html>
<html lang="en">
    <head>
        <!-- START META -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="format-detection" content="telephone=no">

        <meta name="description" content="{{ meta.description }}">
        <meta name="keyword" content="{{ meta.keyword }}">

        {# Production Metas #}
        {% if env === 'production' -%}
            <meta name="author" content="{{ meta.author }}">
            <meta name="subject" content="{{ meta.subject }}">
            <meta name="classification" content="{{ meta.classification }}">

            {# Open Garph Metas #}
            {% for og in meta.opengraph -%}
                <meta property="{{ og.property }}" content="{{ og.content }}"/>
            {%- endfor %}
            <meta property="og:image" content="{{ htpr }}://{{ host }}/images/logo.png">

            {# Extras #}
            {% for mtag in meta.customs -%}
                <meta{% for atr in mtag %} {{ atr.atrib }}="{{ atr.value }}"{% endfor %}>
            {%- endfor %}
        {%- endif %}
        <!-- END META -->

        <!-- START TITLE -->
        <title>{{ meta.title + ' - ' + meta.subtitle }}</title>
        <!-- END TITLE -->

        <!-- START APP ICONS -->
        {% block appicon -%}
            <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ ROOT }}icons/apple-touch-icon-57x57.png" />
            <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ ROOT }}icons/apple-touch-icon-114x114.png" />
            <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ ROOT }}icons/apple-touch-icon-72x72.png" />
            <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ ROOT }}icons/apple-touch-icon-144x144.png" />
            <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{ ROOT }}icons/apple-touch-icon-60x60.png" />
            <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ ROOT }}icons/apple-touch-icon-120x120.png" />
            <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ ROOT }}icons/apple-touch-icon-76x76.png" />
            <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ ROOT }}icons/apple-touch-icon-152x152.png" />

            <link rel="icon" type="image/png" href="{{ ROOT }}icons/favicon-196x196.png" sizes="196x196" />
            <link rel="icon" type="image/png" href="{{ ROOT }}icons/favicon-96x96.png" sizes="96x96" />
            <link rel="icon" type="image/png" href="{{ ROOT }}icons/favicon-32x32.png" sizes="32x32" />
            <link rel="icon" type="image/png" href="{{ ROOT }}icons/favicon-16x16.png" sizes="16x16" />
            <link rel="icon" type="image/png" href="{{ ROOT }}icons/favicon-128.png" sizes="128x128" />

            <meta name="application-name" content="&nbsp;"/>
            <meta name="msapplication-TileColor" content="#FFFFFF" />
            <meta name="msapplication-TileImage" content="{{ ROOT }}icons/mstile-144x144.png" />
            <meta name="msapplication-square70x70logo" content="{{ ROOT }}icons/mstile-70x70.png" />
            <meta name="msapplication-square150x150logo" content="{{ ROOT }}icons/mstile-150x150.png" />
            <meta name="msapplication-wide310x150logo" content="{{ ROOT }}icons/mstile-310x150.png" />
            <meta name="msapplication-square310x310logo" content="{{ ROOT }}icons/mstile-310x310.png" />
        {%- endblock %}
        <!-- END APP ICONS -->

        <!-- START STYLESHEETS{% if env === 'development' -%}{{ ' (DEVELOPMENT)' }}{%- endif %} -->
        {% block stylesheets -%}
            {% if env === 'development' -%}
                {% for style in assets.styles -%}
                    <link rel="stylesheet" href="{{ ROOT }}{{ style }}"/>
                {%- endfor %}
            {% else -%}
                <link rel="stylesheet" href="{{ ROOT }}styles/prod.min.css"/>
            {%- endif %}

            {# Remove it when unused #}
            <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
            <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,100italic,300italic,400italic,700italic' rel='stylesheet' type='text/css'>        {%- endblock %}
        <!-- END STYLESHEETS -->
    </head>
    <body>
        <!-- START HEADER -->
        {% block header -%}{%- endblock %}
        <!-- END HEADER -->

        <!-- START CONTENT -->
        {% block content -%}{%- endblock %}
        <!-- END CONTENT -->

        <!-- START FOOTER -->
        {% block footer -%}{%- endblock %}
        <!-- END FOOTER -->

        <!-- START JAVASCRIPTS{% if env === 'development' -%}{{ ' (DEVELOPMENT)' }}{%- endif %} -->
        {% block javascripts -%}
            {% if env === 'development' -%}
                {% for script in assets.scripts -%}
                    <script type="text/javascript" src="{{ ROOT }}{{ script }}"></script>
                {%- endfor %}
            {% else -%}
                <script type="text/javascript" src="{{ ROOT }}scripts/prod.min.js"></script>
            {%- endif %}
        {%- endblock %}
        <!-- END JAVASCRIPTS -->

        {% if env === 'development' && !_noreload -%}
            <!-- LIVERELOADS (DEVELOPMENT) -->
            <script type="text/javascript" src="http://localhost:{{ reloadport }}/livereload.js"></script>
        {%- endif %}

        {% if env === 'production' -%}
            <!-- START ORGANIZATION LOGO -->
            <script type="application/ld+json">
                {
                  "@context": "http://schema.org",
                  "@type": "Organization",
                  "url": "{{ htpr }}://{{ host }}",
                  "logo": "{{ htpr }}://{{ host }}/images/logo.png"
                }
            </script>
            <!-- END ORGANIZATION LOGO -->
            <!-- START GOOGLE ANALYTICS TOOLS -->
            <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                ga('create', 'UA-63624202-1', 'auto');
                ga('send', 'pageview');

            </script>
            <!-- END GOOGLE ANALYTICS TOOLS -->
        {%- endif %}
    </body>
</html>